*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
}
#startBtn{
    font-size: 1.5em;
    margin-top: 50px;
    border: none;    
    border-radius: 10px;
    padding: 5px 20px;
    background-color: hsl(221, 87%, 34%);
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;

}
#startBtn:hover{
    transform: scale(0.9);
}
#startBtn:active{
    transform: scale(0.8);
}
.colorBtn{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    height: 100px;
    transition: transform 0.2s ease;
}
.colorBtn:hover{
    transform: scale(0.9);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    cursor: pointer;
}
#textDisplay{
    font-size: 3em;
    margin-bottom: 50px;
}
#scoreDisplay{
    font-size: 2rem;
}
#timeDisplay{
    font-size: 2rem;
}

#dataDisplay{
    display: flex;
    justify-content: center;
}
#dataDisplay p{
    margin: 20px 20px;
}

#endScreen{
    /* background-color: rgb(41, 133, 203); */
    padding: 50px;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 30%;
    left: 50%;
    transform:  translate(-50%,-50%) scale(0);
    text-align: center;
    width: fit-content;
    aspect-ratio: 1/1;    
    opacity: 0;
    z-index: 500;
    border-radius: 20px;
}
#endScreen label{
    margin: 20px;

}
.visible {
    opacity: 1 !important;
    transform: translate(-50%,-50%) scale(1) !important;
}

.unaccessable{
    cursor: default;
    transform: none;
}

.unaccessable:hover{
    transform: none;
}
.unaccessable:active{
    transform: none;
}
#highScoreDisplay{
    font-size: 2rem;
    color: rgb(254, 207, 0);
}
.scoreBlock{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 10px solid ;
}


#scoreDisplayDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}



@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#newHighScore{
    opacity: 0;
    font-size: 3rem;
    background-color: hsl(0, 0%, 20%);
    padding: 10px 50px;
    color: white;
    border-radius: 20px;
    position: relative;
}
#newHighScore::after, #newHighScore::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(from var(--angle), hsl(0, 100%, 50%),hsl(35, 100%, 50%),hsl(58, 97%, 49%),hsl(125, 90%, 46%),hsl(222, 100%, 50%),rgb(191, 0, 255),hsl(0, 100%, 50%));
    z-index: -1;
    padding: 5px; 
    border-radius: 20px;
    animation: 3s  spin linear infinite
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;

    }
}
#newHighScore::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}