*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
}
#startBtn{
    font-size: 1.5em;
    margin-top: 50px;
    border: none;    
    border-radius: 10px;
    padding: 5px 20px;
    background-color: hsl(221, 87%, 34%);
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;

}
#startBtn:hover{
    transform: scale(0.9);
}
#startBtn:active{
    transform: scale(0.8);
}
.colorBtn{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    height: 100px;
    transition: transform 0.2s ease;
}
.colorBtn:hover{
    transform: scale(0.9);
}

#buttons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    cursor: pointer;
}
#textDisplay{
    font-size: 3em;
    margin-bottom: 50px;
}
#scoreDisplay{
    font-size: 2rem;
}
#timeDisplay{
    font-size: 2rem;
}

#dataDisplay{
    display: flex;
    justify-content: center;
}
#dataDisplay p{
    margin: 20px 20px;
}

#endScreen{
    /* background-color: rgb(41, 133, 203); */
    padding: 50px;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 30%;
    left: 50%;
    transform:  translate(-50%,-50%) scale(0);
    text-align: center;
    width: fit-content;
    aspect-ratio: 1/1;    
    opacity: 0;
    z-index: 500;
    border-radius: 20px;
}
#endScreen label{
    display: block; 
    margin: 20px;

}
.visible {
    opacity: 1 !important;
    transform: translate(-50%,-50%) scale(1) !important;
}

.unaccessable{
    cursor: default;
    transform: none;
}

.unaccessable:hover{
    transform: none;
}
.unaccessable:active{
    transform: none;
}
#newHighScore{
    font-size: 2rem;
    display: none !important; 
    color: rgb(250, 254, 0);
}